.scroll-color {
    --sb-track-color: #34383a;
    --sb-thumb-color: #6366f1;
    --sb-size: 9px;
  
    scrollbar-color: var(--sb-thumb-color) 
                     var(--sb-track-color);
  }
  
  .scroll-color::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
  .scroll-color::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 4px;
  }
  
  .scroll-color::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 4px;
  }
