

  
.scroll-color {
  --sb-track-color: #34383a;
  --sb-thumb-color: #6366f1;
  --sb-size: 11px;
}

.scroll-color::-webkit-scrollbar {
  width: var(--sb-size)
}

.scroll-color::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.scroll-color::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
  
}

@supports not selector(::-webkit-scrollbar) {
  .scroll-color {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}